body, html {
  height: 100%;
  margin: 0;
  padding-top: 70px; /* height of navbar + some extra space */
  box-sizing: border-box; /* Ensures padding doesn't add to the width */
}

.full-height {
  min-height: 100vh; 
  background-image: url('https://i.ibb.co/RQb7GQQ/baim-hanif-p-YWu-OMhtc6k-unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-top: 100px; /* Additional padding to push content down from the navbar */
  margin-top: -140;
}

.navbar {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10; /* Ensures navbar is above all other content */
}

.navbar a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  transition: color 0.3s, text-shadow 0.3s;
}

.navbar a:hover {
  color: #007bff; /* Bootstrap primary color */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* White glow effect */
}

h1, h2, p {
  color: white;
  margin-left: 20px;
  margin-right: 20px; /* Added margin to the right for symmetry */
}

.welcome-text {
  text-align: center;
  color: white;
  margin-top: 50px;
}

.text-light {
  color: white; 
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%; /* Full width */
  margin-top: 20px; /* Give some space from the top elements */
}

.search-bar input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 40%;
}

.search-bar button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  background: rgba(0, 0, 0, 0.5); /* To match navbar */
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
